/**
 * @name RoundServerIcons
 * @author Nak.kiwi
 * @description :3
 * @version 0.0.1
 */

/* -----------------  UN-SHITIFY DISCORD (RoundServerIcons Part) ------------------- *//*

By @nak.kiwi (You can call me Nakki, feel free visit wy cozy website at nak.kiwi)

A personal project to fix the blatant design mistakes and disalignments in the Discord app.
If it's unreadable, it's by design, I didn't want you to steal my secret sauce.

This is a discord unoficcial theme, it is not affiliated with Discord in any way.
If you are discord and wish for this to be taken down, please message me at hello@nak.kiwi


*//* ------------------------------------------------------- */

/* ----------------------- OPTIONS ------------------------- *//*

	See https://github.com/MaiRiosIPla/unshittify-discord/blob/main/README.md

*//* ------------------------------------------------------- */


._1f388bcaa446c0c8-tutorialContainer .cc5dd25190031396-wrapper, /* DC logo */
._48112cbe77dc5022-folderPreview, /* Folders */
.b18fe29d6fe8dd82-hiddenVisually, 
.e5445cbd3ad226f2-blobContainer:not(.e5445cbd3ad226f2-selected) ._6e9f8dce4cc18de3-wrapper, /* Servers */
._5bc7ed9d4097f6b5-circleIconButton, /* End buttons */
._918165dab2b1e10b-listItemWrapper:not(._918165dab2b1e10b-selected) ._6e9f8dce4cc18de3-wrapper, /* DC logo after 2025-12-15 update */
.e5445cbd3ad226f2-blobContainer:not(.e5445cbd3ad226f2-selected) ._6e9f8dce4cc18de3-wrapper, /* Servers after 2025-12-15 update */
._48112cbe77dc5022-folderGroup ._48112cbe77dc5022-folderButtonInner, /* Folders after 2025-12-15 update */
._918165dab2b1e10b-listItemWrapper ._5bc7ed9d4097f6b5-circleIconButton /* End buttons after 2025-12-15 update */
{
	border-radius: 100% !important;
	overflow: hidden !important;
}
